In [2]:
import pandas as pd
# create sequence
length = 10
sequence = [i/float(length) for i in range(length)]
# create X/y pairs
df = pd.DataFrame(sequence)
df = pd.concat([df.shift(1), df], axis=1)
df.dropna(inplace=True)

In [3]:
df = pd.DataFrame(sequence)

In [4]:
df

     0
0  0.0
1  0.1
2  0.2
3  0.3
4  0.4
5  0.5
6  0.6
7  0.7
8  0.8
9  0.9

In [5]:
df.shift(1)

     0
0  NaN
1  0.0
2  0.1
3  0.2
4  0.3
5  0.4
6  0.5
7  0.6
8  0.7
9  0.8